*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
    
    overflow-x:hidden;
    overflow-y:auto;
    
    background:#f3f4f8;
    font-family:Arial,sans-serif;
    
    touch-action:auto;
    -webkit-overflow-scrolling:touch;
}

body{
    position:relative;
}

/* CONTAINER */
.container{
    width:100%;
    max-width:430px;
    margin:auto;
    background:#f3f4f8;

    min-height:100vh;
    padding-bottom:50px;
}

/* ===================== */
/* BANNER BOX */
/* ===================== */

.banner-box{
    width:98%;
    height:240px;
    margin-left:4px;
    border-radius:10px;
    overflow:hidden;
    background:#fff;
}

.banner-img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}


/* ===================== */
/* JUDUL BOX */
/* ===================== */

.judul-box{
    width:98%;
    height:60px;
    margin-left:4px;
3   margin-top:10px;
    border-radius:10px;
    overflow:hidden;
    background:#fff;
}

.judul-img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* BOX BELAKANG MENU */

.menu-wrapper{
    width:98%;
    margin:8px auto;
    padding:10px 0;
    border-radius:22px;

    background:rgba(255,255,255,0.55);

    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);

    box-shadow:
    0 4px 15px rgba(0,0,0,0.06);
}

/* ===================== */
/* MENU BOX */
/* ===================== */

.menu-box{
    width:98%;
    height:68px;
    display:flex;
    margin-left:4px;
    margin-bottom:5px;
    border-radius:15px;
    overflow:hidden;
    background:#fff;
}

.menu-img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* ===================== */
/* INFO BOX */
/* ===================== */

.info-box{
    width:96%;
    height:auto;
    margin:5px auto 0;
    background:#fff;
    border-radius:15px;
    padding:18px;
}

.text-row{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-bottom:22px;
}

.text-row p{
    font-size:11px;
    font-weight:600;
}

.text-row h3{
    font-size:11px;
    font-weight:600;
    margin-right:10px;
}

.logo-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

.left{
    display:flex;
    gap:30px;
    margin-left:10px;
}

.left img{
    width:50px;
}

.right img{
    margin-right:15px;
}

.right img{
    width:70px;
}

/* RESPONSIVE */

img{
    max-width:100%;
    user-select:none;
    -webkit-user-drag:n
}

.security-text{
    width:100%;
    text-align:center;
    font-size:10px;
    font-weight:600;
    color:#7a7a7a;
    margin-top:18px;
    padding-top:12px;
    border-top:1px solid #ececec;
    line-height:1.5;
}
